body {
    min-width: 1519px;
    height: 800px;
    font-family: system-ui;
    margin: 0px;
    height: 100%;
}
.mainbuttonpanel {
    padding-left: 5%;
    border-bottom: 8px double rgb(171, 227, 170);
    background-color: rgb(252, 251, 177);
}
.mainbutton {
    box-sizing: border-box;
    margin: 0px;
    color: cadetblue;
    font-weight: 600;
    font-size: 22px;
    width: 20%;
    background-color: white;
    border: 0px;
    height: 60px;
    background-color: rgb(252, 251, 177);
}
.mainbutton:hover {
    color: black;
}
.buttonlink {
    text-decoration: none;
    color: cadetblue;
}
.buttonlink:hover {
    color: black;
}
.sidebar {
    float: left;
    width: 25%;
    margin: 0px;
    height: 650px;
    overflow-y: auto;
    border-right: 8px double rgb(171, 227, 170);
    box-sizing: border-box;
}
.title {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 30px;
    padding-left: 15%;
    color: cadetblue;
    font-weight: 600;
}
.profile {
    font-size: 17px;
    padding-left: 5%;
    margin-bottom: 7px;
}
.profileitem {
    margin-left: 25px;
}
.bgcolor {
    background-color: rgb(212, 250, 223);
}
.addlistpanel {
    box-sizing: border-box;
    position: absolute;
    width: 600px;
    height: 300px;
    left: 450px;
    top: 190px;
    background-color: rgb(218, 229, 247);
    border-radius: 4px;
    border: 1px solid black;
    padding-top: 3%;
    padding-left: 10%;
}
.label {
    margin-bottom: 20px;
}
input {
    width: 200px;
    font-size: 17px;
}
.buttons {
    margin-top: 30px;
}
.addlistbuttons {
    height: 35px;
    width: 70px;
    background-color: greenyellow;
    border-radius: 6px;
    border: 1px solid black;
}
.addlistbuttons:hover {
    font-weight: 600;
}
#close1,#close2,#close3 {
    margin-left: 50px;
}
.blue {
    color: blue;
    margin-left: 10px;
    font-size: 15px;
}
.editteam {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 13px;
    background-color: white;
    border: 1px solid black;
    border-bottom: 2px solid blueviolet; 
    border-radius: 4px;
    height: 30px;
    width: 85px;
}
.editteam:hover {
    border-bottom: 3px solid blueviolet;
    font-weight: 700;
}
.adddeletemember {
    margin-top: 25px;
}
.membersitem {
    height: 30px;
    width: 180px;
    margin-left: 10px;
    font-size: 15px;
}
.alert {
    width: 240px;
    text-align: left;
    font-size: 15px;
    color: red;
    box-sizing: border-box;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    
}
.lists {
    box-sizing: border-box;
    width: 75%;
    float: left;
}
.listbox {
    overflow-x: auto;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}
.list {
    display: inline-block;
    width: 350px;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid cadetblue;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-bottom: 30px;
    white-space: normal;
    vertical-align: top
}
.listname {
    background-color: rgb(212, 250, 223);
    border: 0px;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
    width: 100%;
    box-sizing: border-box; 
    word-break: break-all;
}
.listname:hover {
    color:blueviolet;
}
.listrenameinput {
    font-size: 15px;
    margin-bottom: 10px;
}
.listrenamebutton {
    margin-left: 30px;
    background-color: rgb(212, 250, 223);
    border: 0px;
    height: 25px;
}
.listrenamebutton:hover {
    border-bottom: 1px solid blue;
}
.listitems {
    overflow-y: auto;
    max-height: 400px;
}
.listitem {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 60px;
    font-size: 13px;
    text-align: left;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    padding-right: 10px;
    word-break: break-all;
}
.listitem:hover {
    border-bottom: 3px solid black;
}
.status {
    display:inline-block;
    margin-left: 10px;
    font-size: 14px;
}
.blueviolet {
    color: blueviolet;
}
.red {
    color: red;
}
.green {
    color: green;
}
.grey {
    color: grey;
}
.brown {
    color: saddlebrown;
}
.black {
    color: black;
}
.listeditbuttonright {
    float: right;
    margin-right: 20px;
}
.addedittaskpanel {
    overflow-y: auto;
    box-sizing: border-box;
    position: absolute;
    width: 50%;
    height: 70%;
    left: 25%;
    top: 15%;
    background-color: rgb(218, 229, 247);
    border-radius: 4px;
    border: 1px solid black;
    padding-top: 1%;
    padding-left: 2%;
}
.addtasklabel {
    margin-bottom: 10px;
    display: inline-block;
    width: 85px;
}
.tasknameinput {
    font-size: 14px;
    margin-left: 30px;
    margin-right: 5px;
}
.taskdatelabel {
    display: inline-block;
    width: 85px;
    margin-bottom: 10px;
}
.attachuserlabel {
    margin-bottom: 10px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 30px;
}
.listattachuser {
    font-size: 14px;
    width: 160px;
}
.taskdescription {
    margin-top: 10px;
    margin-left: 55px;
    height: 80px;
    width: 60%;
}
.addtaskbuttons {
    margin-top: 20px;
    width: 100px;
    font-size: 14px;
}
.taskname {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.edittaskbuttons {
    width: 100px;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 14px;
}
.edittaskdatelabel {
    margin-right: 16px;
}
.dateinf {
    margin-left: 15px;
    width: 130px;
}
.taskstatus {
    display: inline-block;
    margin-right: 200px;
    margin-bottom: 10px;
}
.editstatustask {
    display: inline-block;
    margin-right: 40px;
}
.editprogresstask {
    display: inline-block;
    margin-left: 110px;
}
.tasknumberinput {
    width: 60px;
}
.editstatusbuttons {
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 170px;
    font-size: 14px;
    height: 32px;
}
.commentslabel {
    font-size: 18px;
    border-left: 2px solid blueviolet;
    padding-left: 10px;
}
.commentsbox {
    list-style-type: none;
}
.onecomment {
    margin-top: opx;
    margin-bottom: 5px;
    border-bottom: 1px solid blueviolet;
    margin-right: 100px;
    padding: 5px;
}
.addcommentbutton {
    background-color: rgb(218, 229, 247);
    border: 0px;
    border-radius: 0px;
    border-bottom: 2px solid blueviolet;
    font-size: 13px;
}
.reccomendationbox {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid grey;
    background-color: rgb(212, 250, 223);
    margin-right: 100px;
    padding: 10px;
}
.reccomendationlabel {
    font-size: 18px;
    padding-left: 5px;
}
.reccomendationtext {
    margin-left: 30px;
}
.inline {
    display: inline-block;
}
.afterleaveproject {
    position:absolute;
    text-align: center;
    font-size: 25px;
    top: 200px;
    left: 500px;
}
.afterleaveprojecthref {
    position: absolute;
    text-align: center;
    font-size: 17px;
    top: 300px;
    left: 500px;
}