<router-outlet>
      <html>
        <head>
          <meta http-equiv="Content-type" content="text/html; charset=utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=Edge">
          <meta name="viewport" content="width=device-width">
        </head>
        <body>
          <div class="welcome">Welcome to Tea M</div> 
          <form #f="ngForm" class = "formblock">
            <div class="label">Username</div>
            <input 
              type="text"
              name="username"
              [(ngModel)]="username"
              required
              minlength="3"
              maxlength="20"
              #pusername="ngModel"/>
            <div class="alert" *ngIf="pusername.errors && (pusername.dirty || pusername.touched)">
                <div *ngIf="pusername.errors.required">Username is required</div>
                <div *ngIf="pusername.errors.minlength">
                  Username must be at least 3 characters
                </div>
                <div *ngIf="pusername.errors.maxlength">
                  Username must be at most 20 characters
                </div>
            </div>
            <div class="label">Password</div>
            <input 
              type="password"
              name="password"
              [(ngModel)]="password"
              required
              minlength="6"
              #ppassword="ngModel"/>
            <div class="alert" *ngIf="ppassword.errors && (ppassword.dirty || ppassword.touched)">
                <div *ngIf="ppassword.errors.required">Password is required</div>
                <div *ngIf="ppassword.errors.minlength">
                  Password must be at least 6 characters
                </div>
            </div>
            <div><button [disabled]="f.invalid" (click)="onSubmit()">Log in</button></div>
            <div>No account? <a routerLink='/register'>Register</a></div>
          </form>
          <div class="resultmessage" *ngIf="isLogIn" >
            You are sucesfully log in
          </div>
          <div class="resultmessage" *ngIf="badData" >
            Wrong name or password
          </div>
          <div class="resultmessage" *ngIf="isProblem" >
            Sorry... Problem with server
          </div>
          <div *ngIf="isLogIn">
            <a [routerLink]="['/home', userinf[0]._id]">
              Click this</a></div>
        </body>
      </html>
</router-outlet> 
