<router-outlet><html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
	      <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <!--<div><a href="/" class="about">About us</a></div>-->
        <div class="welcome">Join Tea M</div>
        <form #f="ngForm" class = "formblock">
            <div class="label">Email</div>
            <input 
              type="email"
              name="email"
              [(ngModel)]="email"
              required
              email
              #pemail="ngModel"/>
            <div class="alert" *ngIf="pemail.errors && (pemail.dirty || pemail.touched)">
                <div *ngIf="pemail.errors.required">Email is required</div>
                <div *ngIf="pemail.errors.email">
                  Email must be a valid email address
                </div>
            </div>
            <div class="label">Username</div>
            <input 
              type="text"
              name="username"
              [(ngModel)]="username"
              required
              minlength="3"
              maxlength="20"
              #pusername="ngModel"/>
            <div class="alert" *ngIf="pusername.errors && (pusername.dirty || pusername.touched)">
                <div *ngIf="pusername.errors.required">Username is required</div>
                <div *ngIf="pusername.errors.minlength">
                  Username must be at least 3 characters
                </div>
                <div *ngIf="pusername.errors.maxlength">
                  Username must be at most 20 characters
                </div>
            </div>
            <div class="label">Role</div>
            <select
              name="role"
              [(ngModel)]="role"
              #prole="ngModel">
                <option>Customer</option>
                <option>Team Lead</option>
                <option>Team Member</option>
            </select>
            <div class="label">Password</div>
            <input 
              type="password"
              name="password"
              [(ngModel)]="password"
              required
              minlength="6"
              #ppassword="ngModel"/>
            <div class="alert" *ngIf="ppassword.errors && (ppassword.dirty || ppassword.touched)">
                <div *ngIf="ppassword.errors.required">Password is required</div>
                <div *ngIf="ppassword.errors.minlength">
                  Password must be at least 6 characters
                </div>
            </div>
            <div><button [disabled]="f.invalid" (click)="onSubmit()">Sign up</button></div>
            <div><a routerLink='/login'>Back to log in</a></div>
        </form>
        <div class="resultmessage" *ngIf="isRegistered" >
          You are sucesfully registered. Go to Login page
        </div>
        <div class="resultmessage" *ngIf="isProblem" >
          Sorry... Problem with server
        </div>
        <div class="resultmessage" *ngIf="notOriginalemail" >
          This email is already in use
        </div>
        <div class="resultmessage" *ngIf="notOriginalname" >
          This username is already in use
        </div>
    </body>
</html>
</router-outlet>